#title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.drum{
    width: 150px;
    height: 150px;
    border: #333 solid 1.5px;
    margin: 5px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: darkorange;
    font-size: 50px;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    border-radius: 15px;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}


.a{
    background-image: url(../images/tom1.png);
}

.s{
    background-image: url(../images/tom2.png);
}

.d{
    background-image: url(../images/tom3.png);
}

.f{
    background-image: url(../images/tom4.png);
}

.j{
    background-image: url(../images/snare.png);
}

.k{
    background-image: url(../images/crash.png);
}

.l{
    background-image: url(../images/kick.png);
}